* {
    font-family: 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f2f2;
    padding-top: 60px;
}

.content {
    width: 70%;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 15px;
}

/* Marcador */
.marker {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}